<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <nav>
        <a id="heading" href="{% url 'index' %}">
            <img src="{% static '/icon.png'%}" alt="icon">
        </a>
        <div id="menu">
            {% block menu %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'insert' %}">Register</a>
            {% endblock %}
        </div>
    </nav>
    <div class="container container-flex">
        {% block flashs %}<p id="flash" class="success">{% endblock %}
        {% if messages %}
            {% for result in messages %}
            <b>{{result}}</b>
            {% endfor%}
        {% endif%}
        {% block flase %}</p>{% endblock %}
        {% block content %}
        <h2>No content. :(</h2>
        {% endblock %}
        <div class="bottom-links">
            {% block bottomLinks %}
            {% endblock %}
        </div>
    </div>
    <footer>
        copyright&nbsp;&copy; 2021 Polaris
    </footer>
    {% block js %}
    {% endblock %}
</body>
</html>