{% extends "boilerplate.html" %}
    <title>{% block title %}Change Password{% endblock %}</title>
    {% block menu %}
    {% if request.session.id is not None %}
            <a href="/dashboard">Dashboard</a>
        {% if request.session.admin %}
            <a href="/publishNotice">Publish Notice</a>
            <a href="/viewApplicants">New Applicants</a>
            <a href="/leaveRequests">New Requests</a>
        {% else %}
            <a href="/requestLeave">Request for Leave</a>
        {% endif %}
        <a href="/viewEmployees">View Employees</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'insert' %}">Register</a>
    {% endif %}
    {% endblock %}
    {% block content %}
    {% if request.session.id %}
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <h3>Change Password</h3>
            <label for="oldpass">Enter Old Password:</label>
            <input type="password" name="oldpass" id="oldpass">
            <label for="pass">Enter Password:</label>
            <input type="password" name="pass" id="pass">
            <label for="newpass">Enter New Password:</label>
            <input type="password" name="cnfpass" id="newpass">
            <input type="submit" value="Change Password">
            <a href="javascript:history.back()">Cancel</a>
        </form>
    </div>
    {% endif %}
    {% endblock %}