{% extends "boilerplate.html" %}
    <title>{% block title %}Home Page{% endblock %}</title>
    {% block menu %}
    {% if request.session.id is not None %}
        <a href="/dashboard">Dashboard</a>
        {% if request.session.admin %}
            <a href="#">Publish Notice</a>
            <a href="/viewApplicants">New Applicants</a>
            <a href="#">New Requests</a>
        {% else %}
            <a href="#">Request for Leave</a>
        {% endif %}
        <a href="/viewEmployees">View Employees</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'insert' %}">Register</a>
    {% endif %}
    {% endblock %}
    {% block content %}
        {% if not request.session.id %}
        <h1 style="margin-top: 100px;">Hi User!</h1>
        {% endif %}
        <div class="jumbotron">
            Welcome to the Polaris Employee Management System.
        </div>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <h3 class="mb-3">Login as Employee or as Admin</h3>
                <label for="em_un">Enter Email or Username:</label>
                <input type="text" name="em_un" id="em_un">
                <label for="password">Enter Password:</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Log In" onclick="return validateLogin();">
                <a href="javascript:history.back();" style="margin-left: 30px;">Cancel</a>
            </form>
        </div>
    {% endblock %}
    {% block js %}
        <script>
            var div = document.getElementsByTagName('body')[0];
            div.style.background = "url('/static/icon.png') 0 40px/100% auto no-repeat, rgba(187, 245, 226, 0.89)";
        </script>
    {% endblock %}